*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr auto 2fr auto 2fr;
    background-color: blue;
}



hr{
    outline: none;
    border: none;
    border-top: 2px dotted black;
}

.computer, .user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

img{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 100%;
    transition: all 180ms ease;
}
.user img:hover {
    cursor: pointer;
    border: 10px solid black;
    transform: scale(1.18);
    transition: all 180ms ease;
}

.won{
    background-color: rgb(5, 180, 5);
}

.tie{
    background-color: orange;
}

.lose{
    background-color: red;
}